[user]
	name = SHIOYA, Hiromu
	email = kwappa.856@gmail.com
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	st = status
	co = checkout
[core]
	excludesfile = ~/.gitignore
	editor = vim
