[user]
	name = SHIOYA, Hiromu
	email = kwappa.856@gmail.com
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	st = status
	co = checkout
	br = branch
	ci = "commit -v"
	fetch-pulls = "fetch origin +refs/pull/*:refs/remotes/pull/*"
[core]
	excludesfile = ~/.gitignore
	quotepath = false
[include]
	path = .gitconfig.local
[pager]
    log  = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[ghq]
	root = ~/src
[push]
    default = simple
