[user]
	name = SHIOYA, Hiromu
	email = kwappa.856@gmail.com
[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
[alias]
	st = status
	co = checkout
	br = branch
	fetch-pulls = "fetch origin +refs/pull/*:refs/remotes/pull/*"
[core]
	excludesfile = ~/.gitignore
	editor = emacs
	quotepath = false
