[user]
    name = Hiromu Shioya
    email = kwappa.856@gmail.com
[color]
    ui = auto
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[alias]
    st = status
    co = checkout
    br = branch
    ci = "commit -v"
    ap = "add -p"
    d  = diff
    di = diff
    l  = log
    lp = "log -p"
    lg = "log --graph --pretty=oneline"
    dc = "diff --cached"
[core]
    excludesfile = ~/.gitignore
    quotepath = false
[pager]
    log  = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[ghq]
    root = ~/src
[push]
    default = simple
